* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

body {
    font-family: Roboto, 'Times New Roman', Verdana, serif;
}

.none {
    display: none;
}

.p001 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 425px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.p002 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.p003 {
    width: 75%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    padding: 0 0 64px 0;
}

.p004 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.p005 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.p006 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 32px;
}

.p007 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding-bottom: 64px;
}

.hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin: 92px 0 0 0;
}

.class-ul-basement {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.h1001 {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.class-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3001 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.h3002 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 91px 0 32px 0;
}

.class-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.h4001 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 50px 0 14px 0;
}

.h4002 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.class-input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.class-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.image001 {
    width: 100%;
}

.image002 {
    height: 300px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    padding-top: 32px;
}

.div_ol001 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.div_ol002 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.li001 {
    width: 340px;
    height: 30px;
}

.span001 {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.button001 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-flex;
    margin: 71px auto 0;
}

.button002 {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin: 27px 0 0 0;
    text-decoration: none;
}

.button003 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    display: inline-flex;
    padding: 15px 80px;
    margin: 0 0 0 0;
}

/*Настройки блоков первая часть*/
.div001 {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    box-sizing: border-box;
}

.div002 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.div003 {
    margin: 42px 0 0 0;
    box-sizing: border-box;
}

.div004 {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(Images/illustration.png);
    background-repeat: no-repeat;
    background-position: right center;
}

/*Настройки блоков вторая часть*/
.div005 {
    margin: 0 115px 0 115px;
    padding-top: 64px;
    box-sizing: border-box;
}

.div006 {
    margin: 0 0 0 0;
    padding-top: 64px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.div007 {
    width: 359px;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 44px 32px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.div008 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
    position: relative;
}

.div009 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.div010 {
    margin-top: 32px;
    position: relative;
}

/*Настройки блоков третья часть*/
.div011 {
    margin: 82px 0 0 0;
    box-sizing: border-box;
    background-color: #316099;
}

.div012 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
}

.div013 {
    margin: 91px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.div014 {
    box-sizing: border-box;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div015 {
    margin: 64px 0 0 0;
    box-sizing: border-box;
}

.div016 {
    margin: 64px 0 0 0;
    box-sizing: border-box;
}

.div017 {
    width: 100%;
    padding-top: 64px;
    margin: 64px auto 0;
    box-sizing: border-box;
}