body {
    font-family: 'Times New Roman', Verdana, serif;
}

.class-p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.class-p-basement {
    font-size: 16px;
    line-height: 26px;
    color: #a9b1cf;
}

.class-ul-basement {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    display: inline;
}

.class-li-basement {
    display: inline;
    padding: 30px;
}

.class-h1 {
    font-size: 64px;
    color: #1F3F68;
}

.class-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.class-h3 {
    font-size: 36px;
    text-align: center;
}

.class-h3-basement {
    font-size: 36px;
    text-align: center;
    color: #ffffff;
}

.class-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.class-input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.class-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.image-1 {
    width: 35%;
    height: 300px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.a-up {
    background: #d2deeb;
    box-shadow: 5px 20px 50px rgb(210, 130, 9);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #1c0d66;
}

.class-ul {
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
}

/*Текст слова menu*/
.span_menu {
    color: #614dc2;
    text-transform: uppercase;
}

/*Настройки блоков: первый массив*/
.top_area1 {
    border: 5px solid rgb(223, 61, 61);
    box-sizing: border-box;
}

.top_area2 {
    border: 5px solid purple;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -5px;
    margin-bottom: -5px;
    box-sizing: border-box;
}

.menu {
    border: 5px solid green;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding-left: 30px;
}

.site_header {
    border: 5px solid rgb(120, 206, 235);
    width: 60%;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: -5px;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 10px;
}

/*Настройки блоков: второй массив*/
.info_h3 {
    border: 5px solid purple;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.top_area3 {
    border: 5px solid green;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.info_h4 {
    border: 5px solid violet;
    width: 60%;
    box-sizing: border-box;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

/*Настройки блоков: третий массив*/
.our_finished_project {
    border: 5px solid red;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
}

/*Настройки блоков: третий массив*/
.basement {
    border: 5px solid red;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-sizing: border-box;
    background-color: #345b8f;
}

.basement-hr {
    color: #5A98D0;
}

/*Настройки блоков: четвертый массив*/
.basement2 {
    border: 5px solid white;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.basement-text {
    border: 5px solid white;
    width: 60%;
    box-sizing: border-box;
    margin-left: -5px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

.basement-links {
    border: 5px solid white;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    padding-left: 30px;
}

.all_rights_reserved {
    border: 5px solid white;
    box-sizing: border-box;
    margin-left: -35px;
    margin-right: -5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}