body {
    font-family: 'Times New Roman', Verdana, serif;
}

.class-p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.class-h1 {
    font-size: 64px;
    color: #1F3F68;
}

.class-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.class-h3 {
    font-size: 36px;
    text-align: center;
}

.class-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.class-input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.class-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.image-1 {
    width: 30%;
    height: 400px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.a-up {
    background: #d2deeb;
    box-shadow: 5px 20px 50px rgb(210, 130, 9);
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #1c0d66;
}