 $width: 100vw;

 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'lato', 'Times New Roman', Times, serif;
 }

 .alignment {
     max-width: 75vw;
     margin: 0 auto;
 }

 .wrapper {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .main_part {
     flex-grow: 1;
 }

 .footer {
     background: #222224;
 }

 .fon_menu {
     background: #222222;
 }

 .menu {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     padding: 20px 0;
 }

 .menu_left {
     display: flex;
     align-items: center;
 }

 .menu_right {
     display: flex;
     align-items: center;
 }

 .top {
     display: flex;
     flex-flow: row nowrap;
     background: #F1E4E6;
     justify-content: center;
 }

 .top1 {
     display: flex;
     flex-flow: row nowrap;
     background: #F1E4E6;
     align-items: center;
 }

 .p1 {
     font-weight: 900;
     font-size: 48px;
     line-height: 58px;
     color: #222222;
 }

 .p2 {
     font-size: 30px;
     line-height: 30px;
     color: #222222;
 }

 .p3 {
     font-weight: 400;
     font-size: 30px;
     line-height: 36px;
     color: #222222;
     text-align: center;
 }

 .p4 {
     font-weight: 400;
     font-size: 14px;
     line-height: 17px;
     color: #9F9F9F;
     text-align: center;
 }

 .p5 {
     font-weight: 400;
     font-size: 20px;
     line-height: 24px;
     text-align: center;
     color: #222224;
 }

 .p6 {
     font-weight: 700;
     font-size: 24px;
     line-height: 167.2%;
     text-align: center;
     color: #222224;
 }

 .p7 {
     font-weight: 400;
     font-size: 19.96px;
     line-height: 24px;
     color: #FBFBFB;
 }

 .p8 {
     font-weight: 300;
     font-size: 13.972px;
     line-height: 17px;
     text-align: center;
     color: #FBFBFB;
 }

 .p9 {
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #FFFFFF;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateY(-50%) translateX(-50%);
 }

 .p10 {
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     text-align: center;
     color: #FFFFFF;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translateY(-50%) translateX(-50%);
 }

 .offer {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
 }

 .block_offer {
     min-width: 30px;
     flex-grow: 1;
     position: relative;
 }

 .block_offer_w {
     width: 30px;
 }

 .img {
     width: 100%;
 }

 .product {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
 }

 .block_product {
     margin: 30px 0 0 0;
     flex-grow: 1;
     display: flex;
     flex-flow: column nowrap;
     background: #F8F8F8;
 }

 .block_text_product {
     display: flex;
     flex-flow: column nowrap;
     min-height: 160px;
     justify-content: space-around;
     padding: 18px;
 }

 .block_text_product1 {
     font-weight: 400;
     font-size: 13px;
     line-height: 16px;
     color: #000000;
 }

 .block_text_product2 {
     font-weight: 300;
     font-size: 14px;
     line-height: 17px;
     color: #5D5D5D;
 }

 .block_text_product3 {
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #F16D7F;
 }

 .block_product_w {
     width: 30px;
 }

 .button1 {
     padding: 14px 38px;
     border: 1px solid #FF6A6A;
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #F26376;
     text-decoration: none;
     display: block;
     text-align: center;
     max-width: 211px;
     margin: 48px auto 95px;
 }

 .button2 {
     width: 32px;
     height: 32px;
     padding-top: 8px;
     box-sizing: border-box;
     text-align: center;
     background: #FFFFFF;
     text-decoration: none;
     display: block;
 }

 .footer {
     background: #222224;
 }

 .footer1 {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
 }

 .block_footer1 {
     min-width: 30px;
     flex-grow: 1;
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-between;
     align-items: center;
     margin: 100px 0;
 }

 .footer2 {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-around;
     background-image: url(images/footer_fon.jpg);
     height: 448px;
     background-size: cover;
     background-position: center;
 }

 .block_footer2 {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
     max-width: 360px;
 }

 .footer3 {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: center;
 }

 .block_footer3 {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     width: 150px;
 }

 .block_footer3_1 {
     font-weight: 400;
     font-size: 16px;
     line-height: 19px;
     color: #FBFBFB;
     margin: 30px 0;
 }