 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'lato', 'Times New Roman', Times, serif;
 }

 .alignment {
     max-width: 71vw;
     margin: 0 auto;
 }

 .wrapper {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .main_part {
     flex-grow: 1;
 }

 .footer {
     background: #222224;
 }

 .fon_menu {
     background: #222222;
 }

 .menu {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     padding: 20px 0;
 }

 .menu_left {
     display: flex;
     align-items: center;
 }

 .menu_right {
     display: flex;
     align-items: center;
 }

 .top {
     display: flex;
     flex-flow: row nowrap;
     background: #F1E4E6;
 }

 .top1 {
     display: flex;
     flex-flow: row nowrap;
     background: #F1E4E6;
     align-items: center;
 }

 .width10 {
     width: 5vw;
 }


 h1 {
     font-weight: 900;
     font-size: 48px;
     line-height: 58px;
     color: #222222;
 }

 .p1 {
     font-size: 30px;
     line-height: 30px;
     color: #222222;
 }

 .offer {
     display: flex;
     flex-flow: row wrap;
 }