* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
}

body {
    font-family: Roboto, 'Times New Roman', Verdana, serif;
}

.none {
    display: none;
}

.p001 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    max-width: 425px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.p002 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.p003 {
    width: 75%;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    padding: 0 0 64px 0;
}

.p004 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.p005 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.p006 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 32px;
}

.p007 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    padding-bottom: 64px;
}

.p008 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    margin: 92px 0 0 0;
}

.class-ul-basement {
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
}

.h1001 {
    max-width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 32px;
}

.class-h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3001 {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.h3002 {
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin: 0 32px 32px 0;
}

.class-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.h4001 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin: 50px 0 14px 0;
}

.h4002 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #1F3F68;
    padding: 40px 0 24px 0;
}

.class-input001 {
    width: 100%;
    height: 72px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    padding-left: 42px;
    margin: 0 0 32px 0;
}

.class-input002 {
    width: 100%;
    height: 144px;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.class-button {
    background: #5A98D0;
    border: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 10px 43% 10px;
    margin: 72px 0 56px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.image001 {
    width: 100%;
}

.image002 {
    max-height: 150px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    padding-top: 32px;
}

.div_ol001 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.div_ol002 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.li001 {
    width: 250px;
}

.li002 {
    width: 250px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.a001 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-decoration: none;
}

.span001 {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.button001 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-flex;
    margin: 71px auto 0;
}

.button002 {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin: 27px 0 0 0;
    text-decoration: none;
}

.button003 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    text-decoration: none;
    display: inline-flex;
    padding: 15px 80px;
    margin: 0 0 0 0;
}

/*Настройки блоков первая часть*/

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.div001 {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    box-sizing: border-box;
}

.div002 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.div003 {
    margin: 42px 0 0 0;
    box-sizing: border-box;
}

.div004 {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(Images/illustration.png);
    background-repeat: no-repeat;
    background-position: right bottom 50px;
    background-size: 50%;
}

/*Настройки блоков вторая часть*/
.div005 {
    margin: 0 115px 0 115px;
    padding-top: 64px;
    box-sizing: border-box;
}

.div006 {
    margin: 0 0 0 0;
    padding-top: 64px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.div007 {
    max-width: 359px;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 32px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.div008 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
    position: relative;
}

.div009 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.div0101 {
    margin-top: 32px;
    position: relative;
}

.div010 {
    margin-top: 32px;
    position: relative;
}

/*Настройки блоков третья часть*/
.footer {
    margin: 82px 0 0 0;
    box-sizing: border-box;
    background-color: #316099;
}

.div012 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
}

.div0121 {
    margin: 0 115px 0 115px;
    box-sizing: border-box;
}

.div013 {
    margin: 91px 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.div014 {
    box-sizing: border-box;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div0141 {
    box-sizing: border-box;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div015 {
    margin: 64px 0 0 0;
    box-sizing: border-box;
}

.div016 {
    margin: 64px 0 0 0;
    box-sizing: border-box;
}

.div017 {
    padding: 64px 0 0 0;
    background-size: cover;
    margin: 64px 0 0 0;
    box-sizing: border-box;
    background-image: url(Images/MaskGroup4.png);
}

.div018 {
    margin: 0 115px 0 115px;
}

.div019 {
    max-width: 340px;
}

@media (min-width: 376px) and (max-width: 768px) {

    .div002 {
        margin: 0 32px 0 32px;
    }

    .div005 {
        margin: 0 32px 0 32px;
    }

    .div006 {
        flex-flow: row wrap;
    }

    .div008 {
        margin: 0 32px 0 32px;
    }

    .div009 {
        margin: 0 32px 0 32px;
        flex-flow: row nowrap;
    }

    .div0101 {
        margin: 32px 32px 0 0;
        position: relative;
    }

    .div012 {
        margin: 0 32px 0 32px;
    }

    .div0141 {
        margin: 0 auto;
    }

    .div0121 {
        margin: 0 32px 0 32px;
    }

    .div017 {
        padding: 64px 0 0 0;
        background-size: cover;
        margin: 64px 0 0 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-image: url(Images/MaskGroup4.png);
    }

    .div018 {
        margin: 0 32px 0 32px;
    }

    .h3002 {
        margin: 0 0 32px 0;
    }

    .div007 {
        margin-bottom: 32px;
    }

    .button003 {
        padding: 15px 40px;
    }
}

@media (max-width: 375px) {

    .h1001 {
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #1F3F68;
    }

    .h3001 {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #000000;
    }

    .h3002 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin: 0 0 32px 0;

    }

    .p001 {
        text-align: center;
    }

    .p004 {
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: #FFFFFF;
        top: 0;
        right: 0;
    }

    .p005 {
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        top: 0;
        left: 0;
    }

    .p006 {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }

    .hr {
        margin: 42px 0 0 0;
    }

    .div001 {
        height: 530px;
    }

    .div002 {
        margin: 0 32px 0 32px;
    }

    .div004 {
        padding-top: 36px;
        background: none;
    }

    .div005 {
        margin: 0 32px 0 32px;
    }

    .div006 {
        flex-flow: row wrap;
        padding-top: 0;
    }

    .div008 {
        margin: 0 32px 0 32px;
    }

    .div009 {
        margin: 0 32px 0 32px;
    }

    .div012 {
        margin: 0 32px 0 32px;
    }

    .div0121 {
        margin: 0 0 0 0;
    }

    .div0141 {
        margin: 0 auto;
    }

    .div013 {
        margin: 18px 0 0 0;
    }

    .div017 {
        padding: 64px 0 0 0;
        background-size: cover;
        margin: 64px 0 0 0;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-image: url(Images/MaskGroup4.png);
    }

    .div018 {
        margin: 32px 0 0 0;
    }

    .div019 {
        width: 100%;
        padding: 32px;
    }

    .div007 {
        margin-bottom: 32px;
    }

    .footer {
        margin: 32px 0 0 0;
    }

    .class-button {
        padding: 10px 34% 10px;
    }

    .button001 {
        max-width: 112px;
        display: block;
    }

    .button003 {
        padding: 10px 15px;
    }
}